/* Source: https://www.youtube.com/watch?v=TutfIwxSE_s */

configuration {
  display-drun: " ";
  display-window: "Windows:";
	font: "JetBrainsMono Nerd Font SemiBold 12";
	modi: "window,run,drun";
	show-icons: true;
}

@theme "~/.config/rofi/themes/tokyonight.rasi"
